body {
    opacity: 100%;
    border-radius: 15px;
    background-color: black;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 400px;
    border-color: black;
    border-width: 1px;
    padding: 5px;
}

#quote {
    border-color: black;
    border-width: 1px;
    font-size: 20px;
    text-align: center;
    font-family: monospace;
    color: rgb(12, 211, 12);
}


#author {
    height: 20px;
    width: 300px;
    margin-top: 10px;
    margin-left: auto;
    font-size: 14px;
    font-style: italic;
    text-align: right;
    font-weight: 5;
    color: rgb(12, 211, 12);
}